<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-App</title>
</head>
<body>
     <div class="input">
        <h2>Todos</h2>
        <input type="text" name="add todo" id="input">
        <button onclick="add()">ADD</button>
     </div>
</body>
</html>